.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 16px;
}
.item {
}
.text {
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 16px;
}
