:root {
  --black: #000;
  --light-grey: rgba(255, 255, 255, 0.87);
  --middle-grey: rgb(178, 178, 178);
  --dark-grey: #242424;
  --grey: rgb(90, 90, 90);
  --blue: #646cff;
  --accent-blue: #535bf2;
  --white: #fff;
  --red: #d00000;
  --green: rgb(66, 180, 4);

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark; */
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: var(--dark-grey);
  background-color: var(--light-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
input {
  display: block;
  color: var(--dark-grey);
  padding: 4px;
  background-color: inherit;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  transition: border 250ms ease-in-out;
}
input:focus,
input:active {
  border: 2px solid var(--accent-blue);
  outline: none;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-blue);
}

/* body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  padding: 20px;
  margin: 0;
  color: var(--dark-grey);
  background-color: var(--light-grey);
} */
img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button,
.btn {
  display: block;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid var(--black);
  padding: 4px;

  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  color: var(--black);
  background-color: transparent;
  transition: all 250ms ease-in-out;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  background-color: var(--accent-blue);
  color: var(--light-grey);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.487),
    2px 6px 13px rgba(0, 0, 0, 0.646), 3px 9px 16px rgba(0, 0, 0, 0.855);
}
li {
  transform-origin: left;
  transform: scale(1);
  transition: all 250ms ease-in-out;
}
a {
  transition: all 250ms ease-in-out;
  color: var(--dark-grey);
}
li:hover,
link:focus {
  transform: scale(1.05);
}

li:hover a,
li:focus a {
  color: var(--accent-blue);
}
